@model IEnumerable<ColorsTableNew.Models.ColorModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Table Colors</h1>

<p>
    <a onclick="showInPopUp('@Url.Action("Create","Color",null,Context.Request.Scheme)', 'Add Color')" class="btn btn-success text-white">Add Color</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ColorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
