@model IEnumerable<ColorsTableNew.Models.ColorModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Table Colors</h1>

<p>
    <a onclick="showInPopUp('@Url.Action("Create","Color",null,Context.Request.Scheme)', 'Add Color')" class="btn btn-success text-white">Add Color</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_ColorTable", Model)
    </tbody>
</table>
